@{
    ViewData["Title"] = "Contato";
}

<div class="d-flex align-items-center flex-column mt-5">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <div class="mt-3">
        <h2>WhatsApp</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <h2>Email</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <h2>Instagram</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
</div>