@{
    ViewData["Title"] = "Inicio";
}

<div class="inicio-container">
    <h1 class="display-4">Bem Vindo!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque consectetur metus nec vulputate convallis. In finibus orci finibus sagittis accumsan.</p>
    <div class="inicio-btns">
        <a class="nav-link btn1" asp-area="" asp-controller="Home" asp-action="Sobre">Ver sobre nós</a>
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contato">Entrar em contato</a>
    </div>
</div>
