@{
    ViewData["Title"] = "Sobre";
}
<div class="container mt-5">
    <h1>@ViewData["Title"]</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque consectetur metus nec vulputate convallis. In finibus orci finibus sagittis accumsan. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque consectetur metus nec vulputate convallis. In finibus orci finibus sagittis accumsan. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque consectetur metus nec vulputate convallis. In finibus orci finibus sagittis accumsan.</p>
</div>
